@tailwind base;
@tailwind components;
@tailwind utilities;

.discount-switch {
        position: relative;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
}

.discount-switch__checkbox {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        cursor: pointer;
}

.discount-switch__slider {
        width: 60px;
        height: 30px;
        background-color: lightgray;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border: 4px solid transparent;
        transition: 0.3s;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%) inset;
        position: relative;
}

.discount-switch__slider::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: translateX(-30px);
        border-radius: 20px;
        transition: 0.3s;
        box-shadow: 0 0 10px 3px rgb(0 0 0 / 25%);
}

.discount-switch__checkbox:checked + .discount-switch__slider {
        background-color: #2196f3;
}

.discount-switch__checkbox:checked + .discount-switch__slider::before {
        transform: translateX(30px);
        box-shadow: 0 0 10px 3px rgb(0 0 0 / 25%);
}

.discount-switch__checkbox:active + .discount-switch__slider::before {
        transform: translateX(0);
}

.discount-switch__checkbox:focus-visible + .discount-switch__slider {
        outline: 2px solid #fbbf24;
        outline-offset: 2px;
}
